[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[[source]]
name = "sjtu"
url = "https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bro-pkg = "*"

dmgbuild = "*"

f2format = "*"

macdaily = {extras = ["all"],version = "*"}
pathlib2 = "*"
psutil = "*"
subprocess32 = "*"

pyinstaller = "*"

vermin = "*"

sphinx = "*"
sphinx-autobuild = "*"

[packages]
homebrew-pypi-poet = "*"
homebrew-npm-noob = "*"

bs4 = "*"
html5lib = "*"
requests = "*"

autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.7"
