[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "sjtu"
url = "https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docutils = "*"
Pillow = "*"
pygments = "*"

dmgbuild = "*"

bpc-f2format = {git = "https://github.com/pybpc/f2format.git"}
bpc-poseur = {git = "https://github.com/pybpc/poseur.git"}
bpc-walrus = {git = "https://github.com/pybpc/walrus.git"}
bpc-utils = {git = "https://github.com/pybpc/utils.git"}

macdaily = {extras = ["all"],git = "https://github.com/JarryShaw/MacDaily.git"}
pathlib2 = "*"
psutil = "*"
subprocess32 = "*"

pyinstaller = "*"

vermin = "*"

Sphinx = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"

zkg = "*"

[packages]
homebrew-pypi-poet = "*"
homebrew-npm-noob = "*"

beautifulsoup4 = {extras = ["html5lib"],version = "*"}
requests = {extras = ["socks"],version = "*"}

autopep8 = "*"
bandit = "*"
flake8 = "*"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.9"
